<head>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<nav>
    <div class="navbar-container">
        <a href="/admin">
            <button class="navbar-button">
                Hallgatók
            </button>
        </a>
        <a href="/admin/message">
            <button class="navbar-button">
                Üzenetküldés
            </button>
        </a>
    </div>
</nav>