
<link type="text/css" href="../css/navbar.css">
<nav>
    <div class="navbar-container">
        <button class="navbar-button" onclick="">
            Hallgatók
        </button>
        <a href="/admin/message">
            <button class="navbar-button">
                Üzenetküldés
            </button>
        </a>
    </div>
</nav>