<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neptun Plus! Admin Felület</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/index.js"></script>
</head>
<body>
    <h1>Neptun Plus! Admin Felület</h1>
    <div class="login-container">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Felhasználónév">
            <input type="password" name="password" placeholder="Jelszó">
            <button type="submit">Bejelentkezés</button>
        </form>
    </div>
</body>
</html>