<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Új kurzus</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/newsubject.css">
</head>
<body>
    <%- include('templates/navbar.ejs') %>
    <div class="new-subject-container">
        <h1>Új kurzus</h1>
        <form action="/admin/newCourse" method="post">
            <input type="text" name="subjectcode" value="<%= subjectCode %>" required readonly>
            <input type="text" name = "coursecode" placeholder="Kurzus kódja" value="<%= subjectCode %>-" required>
            <input type="text" name = "tutor" placeholder="Oktató" required>
            <textarea name="info" id="info" placeholder="Infó"></textarea>
            <input type="number" name="limit" id="limit" placeholder="Limit" required>
            <select name="type" id="type">
                <option value="Előadás">Előadás</option>
                <option value="Gyakorlat">Gyakorlat</option>
            </select>
            <button type="submit">Kurzus hozzáadása</button>
        </form>
    </div>
</body>
</html>